# Ambiente virtual
.venv/
venv/
env/

# Variáveis de ambiente e chaves
.env

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log

# Banco vetorial
chroma_db/

# Arquivos temporários
*.tmp